## 람다함수

In [1]:
def add(x, y):
    return x + y

In [2]:
print('100과 200의 합 : ',  add(100, 200))

100과 200의 합 :  300

In [5]:
add = lambda x, y : x + y
print('100과 200의 합 : ', add(100, 200))

100과 200의 합 :  300

In [6]:
print('100과 200의 합: ', (lambda x, y: x+y)(100, 200))

100과 200의 합:  300

## Lab 10-1

In [7]:
def sub(x, y):
    return x - y
print('200 - 100 = ', sub(200, 100))

200 - 100 =  100

In [8]:
print('200 - 100 = ', (lambda x, y : x-y)(200, 100))

200 - 100 =  100

## 필터 함수

In [10]:
def adult_func(n):
    if n >= 19:
        return True
    else:
        return False

In [13]:
ages = [34, 39, 20,18, 13, 54]
print('성년 리스트 :')
for a in filter(adult_func, ages):
    print(a, end = '.')

성년 리스트 :
34.39.20.54.

In [16]:
ages = [34, 39, 20,18, 13, 54]

print('성년리스트 : ')
for a in filter(lambda x:x >= 19, ages):
    print(a, end = ' ')

성년리스트 :
34 39 20 54

In [17]:
def minus_func(n):
    if n < 0:
        return True
    else:
        return False

In [18]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = []
for n in filter(minus_func, n_list):
    minus_list.append(n)
    
print('음수 리스트: ', minus_list)

음수 리스트:  [-30, -5, -90, -36]

In [20]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_listA = []
for n in filter(lambda x : x < 0, n_list):
    minus_list.append(n)
    
print('음수 리스트 : ', minus_list)

음수 리스트 :  [-30, -5, -90, -36]

In [21]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_listA = list(filter(lambda x : x < 0, n_list))
    
print('음수 리스트 : ', minus_list)

음수 리스트 :  [-30, -5, -90, -36]

## Lab 10-2

In [22]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = []
for n in filter(lambda x : x % 2 == 0, n_list):
    even_list.append(n)
print('even_list = ', even_list)

even_list =  [2, 4, 6, 8, 10]

In [24]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = list(filter(lambda x:x % 2 == 0, n_list))
print('even_list = ', even_list)

even_list =  [2, 4, 6, 8, 10]

In [25]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = []
for n in filter(lambda x : x % 2 == 1, n_list):
    even_list.append(n)
print('even_list = ', even_list)

even_list =  [1, 3, 5, 7, 9]

In [26]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = list(filter(lambda x:x % 2 == 1, n_list))
print('even_list = ', even_list)

even_list =  [1, 3, 5, 7, 9]

## 맵 함수

In [27]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = []
for n in a:
    square_a.append(n**2)
print(square_a)

[1, 4, 9, 16, 25, 36, 49]